<% model = [local_assigns[:micropost],comment].compact %>
<%= form_with model: model , id: dom_id_for_records(*model) do |f| %>
    <% if comment.errors.any? %>
    <div class="alert alert-danger">
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this micropost from being saved:</h2>
  
        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      </div>
    <% end %>
    

    <%= f.text_field :body %>
    <%= f.submit "Comment" %>
<% end %> 